HouseRentingSystem.Services/bin
HouseRentingSystem.Services/obj
HouseRentingSystem.Tests/bin
HouseRentingSystem.Tests/obj
HouseRentingSystem.Web/bin
HouseRentingSystem.Web/obj
.vs/
CI-lab.docx
HouseRentingSystem.sln
.github/workflows/build_test.yml
HouseRentingSystem.Services/HouseRentingSystem.Services.csproj
HouseRentingSystem.Services/HouseSorting.cs
HouseRentingSystem.Services/Agents/AgentService.cs
HouseRentingSystem.Services/Agents/IAgentService.cs
HouseRentingSystem.Services/Agents/Models/AgentServiceModel.cs
HouseRentingSystem.Services/Data/Constants.cs
HouseRentingSystem.Services/Data/DataConstants.cs
HouseRentingSystem.Services/Data/HouseRentingDbContext.cs
HouseRentingSystem.Services/Data/Entities/Agent.cs
HouseRentingSystem.Services/Data/Entities/Category.cs
HouseRentingSystem.Services/Data/Entities/House.cs
HouseRentingSystem.Services/Data/Entities/User.cs
HouseRentingSystem.Services/Data/Migrations/00000000000000_CreateIdentitySchema.cs
HouseRentingSystem.Services/Data/Migrations/00000000000000_CreateIdentitySchema.Designer.cs
HouseRentingSystem.Services/Data/Migrations/20221101185439_CreatedTables.cs
HouseRentingSystem.Services/Data/Migrations/20221101185439_CreatedTables.Designer.cs
HouseRentingSystem.Services/Data/Migrations/20221117083113_AddedUserColumns.cs
HouseRentingSystem.Services/Data/Migrations/20221117083113_AddedUserColumns.Designer.cs
HouseRentingSystem.Services/Data/Migrations/20221117152441_AddedAdmin.cs
HouseRentingSystem.Services/Data/Migrations/20221117152441_AddedAdmin.Designer.cs
HouseRentingSystem.Services/Data/Migrations/ApplicationDbContextModelSnapshot.cs
HouseRentingSystem.Services/Houses/HouseService.cs
HouseRentingSystem.Services/Houses/IHouseService.cs
HouseRentingSystem.Services/Houses/Models/HouseCategoryServiceModel.cs
HouseRentingSystem.Services/Houses/Models/HouseDetailsServiceModel.cs
HouseRentingSystem.Services/Houses/Models/HouseIndexServiceModel.cs
HouseRentingSystem.Services/Houses/Models/HouseQueryServiceModel.cs
HouseRentingSystem.Services/Houses/Models/HouseServiceModel.cs
HouseRentingSystem.Services/Houses/Models/IHouseModel.cs
HouseRentingSystem.Services/Infrastructure/ServiceMappingProfile.cs
HouseRentingSystem.Services/Rents/IRentService.cs
HouseRentingSystem.Services/Rents/RentService.cs
HouseRentingSystem.Services/Rents/Models/RentServiceModel.cs
HouseRentingSystem.Services/Statistics/IStatisticsService.cs
HouseRentingSystem.Services/Statistics/StatisticsService.cs
HouseRentingSystem.Services/Statistics/Models/StatisticsServiceModel.cs
HouseRentingSystem.Services/Users/IUserService.cs
HouseRentingSystem.Services/Users/UserService.cs
HouseRentingSystem.Services/Users/Models/UserServiceModel.cs
HouseRentingSystem.Tests/GlobalSuppressions.cs
HouseRentingSystem.Tests/HouseRentingSystem.Tests.csproj
HouseRentingSystem.Tests/Usings.cs
HouseRentingSystem.Tests/IntegrationsTests/HomeControllerTests.cs
HouseRentingSystem.Tests/IntegrationsTests/StatisticsApiController.cs
HouseRentingSystem.Tests/Mocks/DatabaseMock.cs
HouseRentingSystem.Tests/Mocks/MapperMock.cs
HouseRentingSystem.Tests/Mocks/StatisticsServiceMock.cs
HouseRentingSystem.Tests/UnitTests/AgentServiceClass.cs
HouseRentingSystem.Tests/UnitTests/HouseServiceTests.cs
HouseRentingSystem.Tests/UnitTests/RentServiceTests.cs
HouseRentingSystem.Tests/UnitTests/StatisticsServiceTests.cs
HouseRentingSystem.Tests/UnitTests/UnitTestsBase.cs
HouseRentingSystem.Tests/UnitTests/UserServiceTests.cs
HouseRentingSystem.Web/appsettings.Development.json
HouseRentingSystem.Web/appsettings.json
HouseRentingSystem.Web/HouseRentingSystem.Web.csproj
HouseRentingSystem.Web/HouseRentingSystem.Web.csproj.user
HouseRentingSystem.Web/Program.cs
HouseRentingSystem.Web/Areas/Admin/AdminConstants.cs
HouseRentingSystem.Web/Areas/Admin/Controllers/AdminController.cs
HouseRentingSystem.Web/Areas/Admin/Controllers/HomeController.cs
HouseRentingSystem.Web/Areas/Admin/Controllers/HousesController.cs
HouseRentingSystem.Web/Areas/Admin/Controllers/RentsController.cs
HouseRentingSystem.Web/Areas/Admin/Controllers/UsersController.cs
HouseRentingSystem.Web/Areas/Admin/Models/MyHousesViewModel.cs
HouseRentingSystem.Web/Areas/Admin/Views/_ViewImports.cshtml
HouseRentingSystem.Web/Areas/Admin/Views/_ViewStart.cshtml
HouseRentingSystem.Web/Areas/Admin/Views/Home/Index.cshtml
HouseRentingSystem.Web/Areas/Admin/Views/Houses/Mine.cshtml
HouseRentingSystem.Web/Areas/Admin/Views/Rents/All.cshtml
HouseRentingSystem.Web/Areas/Admin/Views/Shared/_AdminLayout.cshtml
HouseRentingSystem.Web/Areas/Admin/Views/Shared/_AdminLayout.cshtml.css
HouseRentingSystem.Web/Areas/Admin/Views/Users/All.cshtml
HouseRentingSystem.Web/Areas/Identity/Pages/_ViewStart.cshtml
HouseRentingSystem.Web/Areas/Identity/Pages/Account/_ViewImports.cshtml
HouseRentingSystem.Web/Areas/Identity/Pages/Account/Login.cshtml
HouseRentingSystem.Web/Areas/Identity/Pages/Account/Login.cshtml.cs
HouseRentingSystem.Web/Areas/Identity/Pages/Account/Register.cshtml
HouseRentingSystem.Web/Areas/Identity/Pages/Account/Register.cshtml.cs
HouseRentingSystem.Web/Controllers/AgentsController.cs
HouseRentingSystem.Web/Controllers/HomeController.cs
HouseRentingSystem.Web/Controllers/HousesController.cs
HouseRentingSystem.Web/Controllers/Api/StatisticsApiController.cs
HouseRentingSystem.Web/Infrastructure/ApplicationBuilderExtensions.cs
HouseRentingSystem.Web/Infrastructure/ClaimsPrincipalExtensions.cs
HouseRentingSystem.Web/Infrastructure/ControllerMappingProfile.cs
HouseRentingSystem.Web/Infrastructure/ModelExtensions.cs
HouseRentingSystem.Web/Models/Agents/BecomeAgentFormModel.cs
HouseRentingSystem.Web/Models/Home/IndexViewModel.cs
HouseRentingSystem.Web/Models/Houses/AllHousesQueryModel.cs
HouseRentingSystem.Web/Models/Houses/HouseDetailsViewModel.cs
HouseRentingSystem.Web/Models/Houses/HouseFormModel.cs
HouseRentingSystem.Web/Properties/launchSettings.json
HouseRentingSystem.Web/Properties/serviceDependencies.json
HouseRentingSystem.Web/Properties/serviceDependencies.local.json
HouseRentingSystem.Web/Properties/serviceDependencies.local.json.user
HouseRentingSystem.Web/Views/_ViewImports.cshtml
HouseRentingSystem.Web/Views/_ViewStart.cshtml
HouseRentingSystem.Web/Views/Agents/Become.cshtml
HouseRentingSystem.Web/Views/Home/Error.cshtml
HouseRentingSystem.Web/Views/Home/Error400.cshtml
HouseRentingSystem.Web/Views/Home/Error401.cshtml
HouseRentingSystem.Web/Views/Home/Index.cshtml
HouseRentingSystem.Web/Views/Houses/_HouseFormPartial.cshtml
HouseRentingSystem.Web/Views/Houses/_HousePartial.cshtml
HouseRentingSystem.Web/Views/Houses/Add.cshtml
HouseRentingSystem.Web/Views/Houses/All.cshtml
HouseRentingSystem.Web/Views/Houses/Delete.cshtml
HouseRentingSystem.Web/Views/Houses/Details.cshtml
HouseRentingSystem.Web/Views/Houses/Edit.cshtml
HouseRentingSystem.Web/Views/Houses/Mine.cshtml
HouseRentingSystem.Web/Views/Shared/_Layout.cshtml
HouseRentingSystem.Web/Views/Shared/_Layout.cshtml.css
HouseRentingSystem.Web/Views/Shared/_LoginPartial.cshtml
HouseRentingSystem.Web/Views/Shared/_ValidationScriptsPartial.cshtml
HouseRentingSystem.Web/wwwroot/favicon.ico
HouseRentingSystem.Web/wwwroot/css/site.css
HouseRentingSystem.Web/wwwroot/js/site.js
HouseRentingSystem.Web/wwwroot/lib/bootstrap/LICENSE
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.js
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
HouseRentingSystem.Web/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
HouseRentingSystem.Web/wwwroot/lib/jquery/LICENSE.txt
HouseRentingSystem.Web/wwwroot/lib/jquery/dist/jquery.js
HouseRentingSystem.Web/wwwroot/lib/jquery/dist/jquery.min.js
HouseRentingSystem.Web/wwwroot/lib/jquery/dist/jquery.min.map
HouseRentingSystem.Web/wwwroot/lib/jquery-validation/LICENSE.md
HouseRentingSystem.Web/wwwroot/lib/jquery-validation/dist/additional-methods.js
HouseRentingSystem.Web/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
HouseRentingSystem.Web/wwwroot/lib/jquery-validation/dist/jquery.validate.js
HouseRentingSystem.Web/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
HouseRentingSystem.Web/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
HouseRentingSystem.Web/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
HouseRentingSystem.Web/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
